:root {
    --primary: #dee8f2;
    --secondary: #b2c5dd;
    --tertiary: #5e769c;
    --light-dark: #445b8b;
    --dark: #132954df;
    --border-radius: .3rem;
    --dark-color: linear-gradient(98deg,
            rgba(65, 101, 156, 1) 24%,
            rgba(8, 43, 87, 1) 73%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

h2,
h4,
h5 {
    font-weight: 500;

    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}

hr {
    height: 3px;
    border-width: 0;
    color: var(--dark);
    background-color: var(--dark);
    width: 95%;
    margin-left: 10px;
    ;
}

main {
    margin: 20px auto;
    width: 94%;
}

p {
    font-size: 1.1rem;
}

header {
    padding: 1% 1%;
    background: var(--dark-color);
    background-blend-mode: normal;
    color: var(--primary);
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 2px 2px;
    width: 100%;
    display: block;
    margin: 15px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
}

.btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

.btnSearch {
    background-color: var(--dark);
}

.app-title {
    font-size: 2rem;
    color: var(--primary);
    text-align: center;
    padding: 0 10px;
    padding-left: 350px;
    display: block;

}

/* CARDS */

.card {
    margin: 0 0 0 0;
    border-radius: var(--border-radius);
    background-color: var(--primary);
}

.card-header {
    color: var(--dark);
    font-size: 30px;

    padding-left: 10px;

}

.card-body {
    padding: 0 2.5%;
}

.width-card {
    width: 170px;
    background-color: var(--dark);
    color: var(--primary);
}

/* FORM */

.form-label,
.form-input {
    display: block;
}

.form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}

.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
}

/* HEIGHT / WIDTH UTILS */

.min-100-vh {
    min-height: 100vh;
}

/*------------ FLEX CONTENT -----------*/

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*-----------------------------------*/

.left-margin {
    margin-left: 10px;
}

.margin-left {
    margin-left: 100px;
}

.current-weather {
    border: solid var(--dark);
    width: auto;
    padding-left: 5px;
    background-color: var(--secondary);
}

/************   Media queries *****************/

@media (max-width: 575.98px) {
    .app-title {
        padding: 0px;
    }
    #div-day1,#div-day2,#div-day3,#div-day4,#div-day5{
        margin-top: 10px;
        margin-left: 23px;
    }
 
}

@media (max-width: 767.98px) { 
    .app-title {
        padding: 0px;
    }
    #div-day1,#div-day2,#div-day3,#div-day4,#div-day5{
        margin-top: 10px;
        margin-left: 23px;
    }
}

@media (max-width: 991.98px) { 
    .app-title {
        padding: 0px;
    }
    #div-day1,#div-day2,#div-day3,#div-day4,#div-day5{
        margin-top: 10px;
        margin-left: 23px;
    }
    #div-day5{
        margin-left: 5px;
    }
}

